*{
    font-family: 'Arvo', serif;
    margin: 0;
}
.Container{
    height: 15%;
    width: 100%;
    margin-top: 5px;
    background-color: orange;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 5px 10% 0px 10%;
}
h2{
    font-size: x-large;
}
li{
    display: inline-block;
    padding-right: 70px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(71, 63, 63);
}